@import url("https://fonts.googleapis.com/css2?family=Gabarito&family=Roboto+Slab:wght@400;500;600&family=Roboto:wght@300;400&display=swap");


@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
}


body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  direction: rtl;
  text-align: right;
}

header {
  background-color: #550040;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
  height:100vh;
  background-color: #f6c3df;
}
.question1 {
  margin: auto 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  
}
form {
  display: grid;
  gap: 10px;
}

.question {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}
.textquestion {
  color: #ff5577;
  font-weight: bolder;
  margin: 45px 0px;
}
.errortext {
  margin-bottom: 35px;
}



button:hover {
  background-color: #552280;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #550040;
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
}
.errortext {
  color: red;
  font-weight: bold;
}
.endtest {
  color: red;
}
.showresult{
  text-decoration:none;
  margin:20px 50px;
  backgraound:red;
  color:#000;
}
.parentshow{
  display:flex;
  justify-content:center;
  align-items:center;
}

.img-test-1{
  width:35%;
 object-fit:cover;
 animation: flip-scale-up-hor 0.5s linear both;
}
